<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- controller exception aop -->
	<bean id="controllerAop" class="com.teshehui.framework.aop.exception.controller.ControllerAop" />
	<!-- manager exception aop -->
	<bean id="managerAop" class="com.teshehui.framework.aop.exception.manager.ManagerAop" />
	<!-- logAop -->
	<bean id="logAop" class="com.teshehui.framework.aop.log.LogAop"/>
	<!-- monitorAop -->
	<!-- <bean id="monitorAop" class="com.teshehui.framework.aop.monitor.MonitorAop"/> -->
	<!-- cacheAop -->
	<bean id="cacheAop" class="com.teshehui.framework.aop.cache.CacheAop">
		<!-- <property name="memCache" ref="memCache"></property> -->
		<property name="redisCache" ref="redisCache"></property>
	</bean>
	
	<aop:config>
		<aop:pointcut id="controllerPointCut" expression="execution(* com.teshehui..controller..*.*(..))"/>
		<aop:pointcut id="managerPointCut" expression="execution(* com.teshehui..manager..*.*(..))"/>
		<aop:pointcut id="logPointCut"
				expression="(@annotation(com.teshehui.framework.aop.log.LogAnnotaion))||(@within(com.teshehui.framework.aop.log.LogAnnotaion))" />
		<!-- <aop:pointcut id="monitorPointCut"
				expression="(@annotation(com.teshehui.framework.aop.monitor.MonitorAnnotaion))||(@within(com.teshehui.framework.aop.monitor.MonitorAnnotaion))" /> -->
		<aop:pointcut id="cachePointCut"
				expression="(@annotation(com.teshehui.framework.aop.cache.CacheAnnotaion))||(@within(com.teshehui.framework.aop.cache.CacheAnnotaion))" />
				
		<aop:aspect order="1" id="controllerAspect" ref="controllerAop">
			<aop:around pointcut-ref="controllerPointCut" method="controllerProxy"/>
		</aop:aspect>
		<aop:aspect order="2" id="managerAspect" ref="managerAop">
			<aop:around pointcut-ref="managerPointCut" method="managerProxy"/>
		</aop:aspect>
		<aop:aspect order="3" id="logAspect" ref="logAop">
			<aop:around pointcut-ref="logPointCut" method="logProxy" />
		</aop:aspect>
		<!-- <aop:aspect order="4" id="monitorAspect" ref="monitorAop">
			<aop:around pointcut-ref="monitorPointCut" method="monitorProxy" />
		</aop:aspect> -->
		<aop:aspect order="5" id="cacheAspect" ref="cacheAop">
			<aop:around pointcut-ref="cachePointCut" method="cacheProxy" />
		</aop:aspect>
		
	</aop:config>
				
</beans>